<p>Dear user,</p>
<p>To reset your password <a href="{{ url_for('auth.confirm_password_reset', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p><a href="{{ url_for('auth.confirm_password_reset', token=token, _external=True) }}">{{ url_for('auth.confirm_password_reset', token=token, _external=True) }}</a></p>
<p>If you have not requested a password reset, simply ignore this message.</p>
<p>Sincerely,</p>
<p>The Sunny CRM Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
